# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
rpc-api/target/generated-sources/
rpc-client/target/generated-sources/
rpc-common/target/generated-sources/
rpc-core/target/generated-sources/
rpc-server/target/generated-sources/
